{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-8 table-responsive mb-5">
        <table>
            <thead class="thead-dark">
                <tr>
                    <th>دوره ها</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                    <th>جمع</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for item in cart %}
                    <tr>
                        <td class="align-middle">{{ item.education }}</td>
                        <td class="align-middle">{{ item.price }}</td>
                     <td class="align-middle">{{ item.quantity }}</td>
                        <td class="align-middle">{{ item.total_price }}</td>
                        <td class="align-middle"><a href="{% url 'ordering:cart_remove' item.education.id %}">حذف</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pt-2">
        <div class="d-flex justify-content-between mt-2">
            <h5>Total</h5>
            <h5>{{ cart.get_total_price }}</h5>
        </div>
        <a href="{% url 'ordering:order_create' %}"> <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Proceed To Checkout</button></a>
    </div>

{% endblock %}